.container
    .header.content
        h1 Chromium Shortcuts macOS
    .shortcutArea.content
    .controlButtonsArea.content
    .keyboardArea.content
    .resultsArea.content
    .footer.content finger.academy
