
//- when we have an 'pageName' in our page-heads then this will result in
    a 'pageName'.js toolset/build/includes directory this will be a link to 
    the pretty debug-version or the optimized production-version of our 
    bundle to be included.
    You may add further scripts to be include arbitrarily.
    Better is to have them all bundled in your 'pageName'.js though and 
    included with this line.
script
    include ../../../toolset/build/includes/index.js