@import '../coursemodule/styles.styl'
@import '../coursenavigationmodule/styles.styl'
@import '../feedbackdisplaymodule/styles.styl'
@import '../footermodule/styles.styl'
@import '../headermodule/styles.styl'
@import '../keymapdatamodule/styles.styl'
@import '../shortcutdatamodule/styles.styl'
@import '../virtualkeyboardmodule/styles.styl'
